table{
  width: 50%;
  border: 1px solid black;
  text-align: center;
  margin-left: 400px;
  margin-top: 40px;
  border-collapse: collapse;
}

th{
  font-weight: 900;
}

th,td{
  padding: 8px;
}

tr:nth-child(even){
  background-color: rgb(165, 165, 255);
}

table :hover{
  background-color: rgb(81, 81, 252);
  color: white;
  font-weight: lighter;
}

p{
  margin-top: 40px;
  text-align: center;
  font-size: larger;
  font-weight: 500;
}

th{
  background-color: rgb(81, 81, 252);
  color: white;
  font-weight: lighter;
}
