ul{
  background: rgb(81, 81, 252);
  padding: 10px;
  margin-left: 600px;
  margin-right: 20px;
  margin-top: 40px;
  width: 360px;
  border: 2px solid black;
  list-style-type: none;
}

ul li{
  background: rgb(165, 165, 255);
  border: 2px solid black;
  margin-left: 20px;
  margin: 10px;
}

p{
  text-align: center;
  font-size: larger;
  font-weight: 500;
  margin-top: 40px;
}

ul :hover{
  background-color: rgb(81, 81, 252);
  color: white;
}

li{
  padding-left: 10px;
  color: black;
}

